.header {
    max-width: 1380px;
    margin: 30px auto 0px;
    padding: 24px;
    border-radius: 68px;
}

.studentHeader {
    background-color: var(--accent-color);
}

.teacherHeader {
    background-color: var(--dark-color);
}

.link {
    font-size: 18;
    font-weight: 600;
    color: #fafbfc;
}

.link:hover {
    text-decoration: underline;
}

.button {
    &:hover {
        background-color: #fff;
        color: #000;
    }
    height: 48px;
    width: 128px;
    border: 2px solid #fff;
    transition: all 0.1s linear;
}

.mainPageHeader {
    max-width: 1380px;
    margin: 0px auto;
    height: 100dvh;
    max-height: 1000px;
    position: relative;
    margin-top: 30px;

    header {
        background-color: transparent !important;
        margin: 0 !important;
    }

    .headerBg {
        position: relative;
        display: flex;
        height: 100%;
        max-height: 620px;
        border-radius: 48px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;

        .headerNav {
            position: absolute;
            z-index: 10;
            top: 0;
            left: 0;
            width: 100%;
        }
    }

    .hBanner {
        position: absolute;
        bottom: -45px;
        left: 50%;
        transform: translate(-50%, 0);
        width: 100%;

        &_container {
            text-align: center;
            padding: 64px 0px;
            background-color: var(--light-color);
        }

        &_title,
        &_text {
            color: var(--dark-color);
        }

        &_title {
            font-size: 28px;
            font-weight: 700;
            line-height: 36px;
            margin-top: 0;
        }

        &_text {
            width: 85%;
            margin: 24px auto;
            font-size: 16px;
            line-height: 24px;

            span {
                font-weight: 600;
            }
        }

        &_btn {
            background-color: var(--accent-color);
            color: var(--light-color);
            border: 2px solid var(--accent-color);
            padding: 12px 120px;
        }

        &_btn:hover {
            background-color: var(--light-color);
            color: var(--accent-color);
        }

        &_line {
            width: 50%;
            margin: 0 auto;
            height: 4px;
            background-color: var(--accent-color);
        }
    }

    @media (max-width: 1400px) {
        .hBanner {
            &_container {
                padding: 34px 0;
            }
        }
    }

    @media (max-width: 700px) {
        .hBanner {
            &_text {
                text-align: justify;
            }
        }
    }

    @media (max-width: 500px) {
        .hBanner {
            width: 90%;

            &_btn {
                background-color: var(--accent-color);
                color: var(--light-color);
                border: 2px solid var(--accent-color);
                padding-inline: 0;
                width: 95%;
            }
        }
    }
}
