.yesBtn {
  color: var(--light-color);
  background-color: var(--red-color);
  font-size: 18;
  font-weight: 600;
  padding: 12px 32px;

  &:hover {
    color: var(--red-color);
    outline: 1px solid var(--red-color);
  }
}

.cancelBtn {
  outline: 1px solid var(--accent-color);
  color: var(--accent-color);
  padding: 12px 32px;
  &:hover {
    background-color: var(--accent-color);
    color: var(--light-color);
  }
}
