.tab {
    font-size: 18;
    color: #2a2a2a;
    transition: all 0.2s ease-in-out;
}

.active {
    font-size: 24px;
    font-weight: 700;
    color: #02808f;
    transition: all 0.2s ease-in-out;
}

.divider {
    width: 1px;
    height: 24px;
    border-left: 2px solid #000;
}
