.msg {
    display: flex;
    align-items: flex-end;
    margin-bottom: 10px;
}

.msg:last-of-type {
    margin: 0;
}

.msgImg {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    background: #ddd;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 50%;
}

.msgBubble {
    max-width: 450px;
    padding: 15px;
    border-radius: 15px;
    background: #FAFBFC;
}

.msgInfo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.msgInfoName {
    margin-right: 10px;
    font-weight: bold;
}

.msgInfoTime {
    font-size: 0.85em;
}

.rightMsg {
    flex-direction: row-reverse;
}

.rightMsg .msgBubble {
    background: #E4FDE0;
    color: #000;
    border-bottom-right-radius: 0;
}

.rightMsg .msgImg {
    margin: 0 0 0 10px;
}

.clip:hover {
    color: #02808F;
}