.header {
  padding: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 68px;
}

.link {
  font-size: 18;
  font-weight: 600;
  color: #fafbfc;
}

.link:hover {
  text-decoration: underline;
}
