.deleteBtn {
    border: 2px solid var(--red-color);
    transition: all 0.2s linear;

    &:hover {
        color: #fff;
        background-color: var(--red-color);
    }
}

.createBtn {
    border: 2px solid var(--accent-color);
    transition: all 0.2s linear;

    &:hover {
        color: var(--accent-color);
        background-color: transparent;
    }
}
