.navbar {
    background-color: var(--dark-color);
    border-radius: 68px;
    margin: 30px;
    padding-inline: 24px;
}
.frame {
    padding: 48px;
    margin-block: 34px !important;
    background-color: white;
}