@import "@/styles/variables.scss";

.responsiveContainer {
    width: $ContentSize;
    max-width: 1180px;
    box-sizing: content-box;

    @media (min-width: em(500px)) {
        max-width: 98%;
    }
}
