:root {
	--scroll-height: 12px;
	--scroll-thumb-background: #101113;
	--scroll-thumb-border: 2px transparent solid;
	--scroll-thumb-border-radius: 6px;
	--scroll-track-background: #f8f8f8;
	--scroll-track-border-radius: 6px;
	--scroll-width: 12px;
}

html,
body {
	height: 100%;
}

html ::-webkit-scrollbar {
	width: var(--scroll-width);
	height: var(--scroll-height);
}

html ::-webkit-scrollbar-thumb {
	background: var(--scroll-thumb-background);
	border-radius: var(--scroll-thumb-border-radius);
	border: var(--scroll-thumb-border);
	background-clip: padding-box;
}

html ::-webkit-scrollbar-track {
	background: var(--scroll-track-background);
	border-radius: var(--scroll-track-border-radius);
}

body {
	overflow-x: hidden;
}

a {
	text-decoration: none;
}