.footer {
    background-color: var(--accent-color);
    color: var(--light-color);
    position: relative;


    &_line {
        position: absolute;
        width: 100%;
        height: 90px;
        border-radius: 0 0 78px 78px;
        top: 0;
        left: 0;
        background-color: var(--light-color);
    }

    &_img {
        text-align: center;
    }

    &_container {
        display: flex;
        align-items: center;
        padding: 130px 0 50px;
        >* {
            flex: 1;
        }
    }
}