.superAccent-font {
    font-size: 39px;
    font-weight: 600;
    color: var(--accent-color);
    line-height: 1.5;
}

.h1_font {
    font-size: 30px;
    font-weight: 700;
    line-height: 1.5;
}

.h2_font {
    font-size: 23px;
    font-weight: 600;
    line-height: 1.5;
}

.h3_font {
    font-size: 18px;
    font-weight: 600;
    line-height: 1.5;
}

.main_font {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
}

.optional_font {
    font-size: 13px;
    font-weight: 400;
    line-height: 1.2;
}
