.header {
  width: 100%;
  height: 100vh;
  max-height: 1000px;
  padding-top: 30px;
  position: relative;

  .headerBg {
    width: 95%;
    margin: 0px auto;
    height: 70%;
    max-height: 700px;
    border-radius: 48px;
    background-image: url(/images/header-photo.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-inline: 24px;
  }

  .hBanner {
    position: absolute;
    left: 0;
    bottom: 5vh;
    left: 50%;
    transform: translate(-50%, 0);
    width: 100%;

    &_container {
      text-align: center;
      padding: 64px 0px;
      background-color: var(--light-color);
    }

    &_title,
    &_text {
      color: var(--dark-color);
    }

    &_title {
      font-size: 28px;
      font-weight: 700;
      line-height: 36px;
      margin-top: 0;
    }

    &_text {
      width: 85%;
      margin: 24px auto;
      font-size: 16px;
      line-height: 24px;

      span {
        font-weight: 600;
      }
    }

    &_btn {
      background-color: var(--accent-color);
      color: var(--light-color);
      border: 2px solid var(--accent-color);
      padding: 12px 120px;
    }

    &_btn:hover {
      background-color: var(--light-color);
      color: var(--accent-color);
    }

    &_line {
      width: 50%;
      margin: 0 auto;
      height: 4px;
      background-color: var(--accent-color);
    }
  }

  @media (max-width: 1400px) {
    .hBanner {
      &_container {
        padding: 34px 0;
      }
    }
  }

  @media (max-width: 700px) {
    .hBanner {
      &_text {
        text-align: justify;
      }
    }
  }

  @media (max-width: 500px) {
    .hBanner {
      width: 90%;

      &_btn {
        background-color: var(--accent-color);
        color: var(--light-color);
        border: 2px solid var(--accent-color);
        padding-inline: 0;
        width: 95%;
      }
    }
  }
}
