.guide {
    background-color: var(--green-color);
    padding-block: 64px;
    color: var(--dark-color);

    &_title {
        font-size: 32px;
        font-weight: 600;
        margin: 0;
    }
}
