.help {
    color: var(--dark-color);
    padding-block: 88px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 30px;

    .helpCard {
        min-width: 300px;
        flex: 1;
        text-align: center;
        border-radius: 24px;
        padding: 24px 44px;
        box-shadow:
            0px 0px 1px 0px rgba(0, 0, 0, 0.1),
            0px 2px 2px 0px rgba(0, 0, 0, 0.09),
            0px 4px 2px 0px rgba(0, 0, 0, 0.05),
            0px 7px 3px 0px rgba(0, 0, 0, 0.01),
            0px 12px 3px 0px rgba(0, 0, 0, 0);

        &_desc {
            margin: 0 auto;
            margin-top: 8px;
            margin-bottom: 24px;
            width: 80%;
        }

        &_btn {
            background-color: #fcecca;
            border: 2px solid #fcecca;
            font-weight: 600;
            width: 100%;

            &:hover {
                background-color: var(--light-color);
            }
        }
    }
}
