.customBtn {
    border-radius: 999px;
    background-color: var(--light-color);
    color: var(--dark-color);
    border: none;
    outline: none;
    cursor: pointer;
    transition: background-color .2s ease;
    font-size: 18px;
    font-weight: 600;
    height: fit-content;
    padding-block: 12px;

    &:hover {
        background-color: #fafbfc87;
    }
}